<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../css/app.css">
    <title>Quiz Generator</title>
</head>


<body>
    <h1>Sign-up for Quiz App!</h1>

    <div>
        <form id="sign-up">
            <label for="first_name">First Name:</label>
            <input type="text" id="first_name"><br>
            <label for="last_name">Last Name:</label>
            <input type="text"  id="last_name"><br>
            <label for="username">Username:</label>
            <input type="text" id="username"><br>
            <label for="email">Email:</label>
            <input type="text" id="email"><br>
            <input type="submit" value="Sign-up!"><br>
        </form>
    </div>

    <script defer type="text/javascript" src="../src/sign_up.js" charset="utf-8"></script>
</body>