<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="../css/app.css">

        <title>Quiz Generator</title>
    </head>

    <body id="timed-quiz-body">
        <h1 class="centered-heading">Quiz Time!</h1>
        <h3>See how many questions you can answer in 60 seconds!</h3>
        <button type="button" id="start-timer">Start!</button><br>

        <div id="question-container">
            <form hidden id="answers-form">
                <p id="question-text">Question placeholder</p>
                <input type="radio" class="radio-node" id="q1" name="choice">
                <label for="q1">Test</label><br>

                <input type="radio" class="radio-node" id="q2" name="choice">
                <label for="q2">Test</label><br>

                <input type="radio" class="radio-node" id="q3" name="choice">
                <label for="q3">Test</label><br>
                
                <input type="radio" class="radio-node" id="q4" name="choice">
                <label for="q4">Test</label>
            </form>
        </div><br><br>
        <div id="timer-container">
            <h1 id="timer"></h1>
        </div>
        

        
    </body>
    <script defer type="text/javascript" src="../src/common.js" charset="utf-8"></script>
    <script defer type="text/javascript" src="../src/timedquiz.js" charset="utf-8"></script>
</html>




